django==3.2.17
djangorestframework==3.12
gunicorn==20.0.4
ipython
coverage==5.0.4
django_filter==2.4.0
django-bootstrap4==3.0.0
requests==2.26.0
psycopg2-binary==2.8.6
sw-django-utils==0.0.53
sw-django-logger==0.0.16
openpyxl==3.0.7
python-dateutil==2.8.1
docxtpl==0.11.5
pillow==8.3.2
python-barcode==0.13.1
sentry-sdk==0.14.3
celery[redis]==5.1.2
redis==3.5.3
