{% extends 'core/base_edit.html' %}
{% load bootstrap4 %}

{% block container %}
    {% if object.number %}
        <div class="row">
        <div class="col-sm-10"></div>
            <div class="col-sm-2 text-right">
                <a class="btn btn-outline-secondary" href="{% url 'core:direction_print' object.number %}" data-toggle="tooltip" title="Распечатать направление на осмотр">
                    <i class="fa fa-print"></i> Печать
                </a>
            </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block fields %}
    <div class="row">
        <div class="col-sm-4">{% bootstrap_field form.last_name %}</div>
        <div class="col-sm-4">{% bootstrap_field form.first_name %}</div>
        <div class="col-sm-4">{% bootstrap_field form.middle_name %}</div>
        <div class="col-sm-4">{% bootstrap_field form.birth %}</div>
        <div class="col-sm-4">{% bootstrap_field form.gender %}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">{% bootstrap_field form.org %}</div>
        <div class="col-sm-4">{% bootstrap_field form.post %}</div>
        <div class="col-sm-4">{% bootstrap_field form.shop %}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">{% bootstrap_field form.exam_type %}</div>
        <div class="col-sm-4">{% bootstrap_field form.law_items_section_1 %}</div>
        <div class="col-sm-4">{% bootstrap_field form.law_items_section_2 %}</div>
        <div class="col-sm-4">{% bootstrap_field form.pay_method %}</div>
    </div>
{% endblock %}

{% block buttons %}
    <div class="row">
        <div class="col-6">
            {% if object.number %}
                <a href="./delete/" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Удалить
                </a>
            {% endif %}
        </div>

        <div class="col-6 text-right">
            <button class="btn btn-success">
                <i class="fa fa-save"></i> Сохранить
            </button>
        </div>
    </div>
{% endblock %}