{% extends 'core/base_edit.html' %}
{% load bootstrap4 %}

{% block fields %}
    <legend>Направление на осмотр {% if object.number %}№{{ object.number }}{% endif %}</legend>
    <div class="row">
        <div class="col-sm-5 border-right">
            {% bootstrap_field form.last_name layout='horizontal' %}
            {% bootstrap_field form.first_name layout='horizontal' %}
            {% bootstrap_field form.middle_name layout='horizontal' %}
            {% bootstrap_field form.birth layout='horizontal' %}
            {% bootstrap_field form.gender layout='horizontal' %}
        </div>

        <div class="col-sm-7">
            {% bootstrap_field form.org layout='horizontal' %}
            {% bootstrap_field form.post layout='horizontal' %}
            {% bootstrap_field form.shop layout='horizontal' %}
            {% bootstrap_field form.exam_type layout='horizontal' %}
            {% bootstrap_field form.law_items_section_1 layout='horizontal' %}
            {% bootstrap_field form.law_items_section_2 layout='horizontal' %}
            {% bootstrap_field form.pay_method layout='horizontal' %}

            {% include 'core/directions/worker_search_include.html' %}
        </div>
    </div>
{% endblock %}

{% block buttons %}
    <div class="row">
        <div class="col-6">
            {% if object.number %}
                <a href="./delete/" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Удалить
                </a>
            {% endif %}
        </div>

        <div class="col-6 text-right">
            {% if object.number %}
                <a class="btn btn-outline-secondary no-block" href="{% url 'core:direction_print' object.number %}"
                   data-toggle="tooltip" title="Распечатать направление на осмотр">
                    <i class="fa fa-print"></i> Печать
                </a>
            {% endif %}
            <button class="btn btn-success">
                <i class="fa fa-save"></i> Сохранить
            </button>
        </div>
    </div>
{% endblock %}