{% extends 'core/base_list.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style>
        .help-block {
            color: #7d7d7d
        }
        .card-worker {
            margin-bottom: 20px;
            border-color: #bfbfbf;
        }
        .card-worker-extra-info {
            height: 25px;
        }
        .worker-documents-list {
            list-style: none;
            padding-left: 0;
        }
        .worker-documents-item {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-outline-secondary btn-sm btn-show-search-form" data-toggle="tooltip" title="Показать параметры фильтрации">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block form %}
    <div class="row">
        <div class="col-sm-4">
            {% bootstrap_field form.last_name layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}
            {% bootstrap_field form.first_name layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}
            {% bootstrap_field form.middle_name layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}
        </div>
        <div class="col-sm-3">
            {% bootstrap_field form.date_from layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}
            {% bootstrap_field form.date_to layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}
            {% bootstrap_field form.is_active layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}
        </div>
        <div class="col-sm-5">
            {% if show_orgs %}{% bootstrap_field form.orgs layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}{% endif %}
            {% bootstrap_field form.shop layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}
            {% bootstrap_field form.post layout='horizontal' horizontal_label_class='col-sm-4' horizontal_field_class='col-sm-8' %}
        </div>
    </div>
{% endblock %}

{% block right_buttons %}
    {{ block.super }}
    <button type="button" class="btn btn-outline-secondary btn-hide-search-form" data-toggle="tooltip" title="Убрать параметры поиска">
        <i class="fa fa-arrow-up"></i>
    </button>
{% endblock %}

{% block pre_table %}
    {% if page_obj|default:object_list %}
        <h5>Количество сотрудников: {{ page_obj.paginator.count|default:object_list.count }}</h5>
    {% endif %}
{% endblock pre_table %}

{% block paginator_top %}{% endblock %}

{% block table %}
    <div class="row workers">
        {% for object in page_obj|default:object_list %}
            <div class="col-sm-6">
                <div class="card card-worker">
                    <div class="card-body">
                        <div class="card-worker-info">
                            <h5 class="card-title">{{ object }}</h5>
                            <p class="card-text help-block">
                                {{ object.post|default:"Не указана" }}
                                {% if object.shop %}<br>{{ object.shop }}{% endif %}
                            </p>
                        </div>
                        <hr>
                        <div class="card-worker-extra-info">
                            <span class="badge badge-secondary badge-loading" data-toggle="tooltip" title="Загрузка информации о документах по сотруднику" data-placement="left" data-container="body">
                                Загрузка...
                            </span>
                            <button type="button" class="btn btn-outline-secondary btn-sm worker-documents-btn"
                                    data-worker-id="{{ object.id }}">
                                <i class="fa fa-file-pdf-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "core/js/workers/list.js" %}"></script>
{% endblock %}