{% extends BASE_TEMPLATE %}

{% block container %}
     <div class="index-content">
        <div class="row">
            <div class="col-sm-12 text-center">
                 {% if perms.auth.view_user %}
                     <a class="btn btn-index-primary index-btn" href="{% url 'core:user' %}">
                         <p><i class="fa fa-users"></i></p>
                         Пользователи
                    </a>
                {% endif %}

                {% if perms.auth.view_log %}
                     <a class="btn btn-index-primary index-btn" href="{% url 'core:log' %}">
                         <p><i class="fa fa-clock-o "></i></p>
                         Журнал
                    </a>
                {% endif %}
            </div>
        </div>
     </div>
{% endblock %}