<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow " />
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}<title>{{ title }} {% if not title %}Портал{% endif %}</title>{% endblock %}

    {% block base_style %}
        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="/node_modules/select2/dist/css/select2.css" rel="stylesheet">
        <link href="/node_modules/jquery-ui/themes/base/all.css" rel="stylesheet">
        <link href="/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet">
        <link href="/node_modules/select2-bootstrap-theme/dist/select2-bootstrap.css" rel="stylesheet">
        <link href="/node_modules/select2-bootstrap-theme/dist/select2-bootstrap.min.css" rel="stylesheet">
    {% endblock %}

    {% block base_js %}
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
        <script src="/node_modules/jquery-ui/ui/i18n/datepicker-ru.js"></script>
        <script src="/node_modules/jquery.maskedinput/src/jquery.maskedinput.js"></script>
        <script src="/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/node_modules/select2/dist/js/select2.js"></script>
        <script src="/node_modules/select2/dist/js/i18n/ru.js"></script>

        {# для прода используем min версию, чтобы не выпадали не нужные комменты #}
         {% if debug %}
            <script src="/node_modules/vue/dist/vue.js"></script>
         {% else %}
             <script src="/node_modules/vue/dist/vue.min.js"></script>
         {% endif %}
    {% endblock %}

    {% block css %}
        <link href="{% static "core/css/style.css" %}" rel="stylesheet">
    {% endblock %}

    {% block form_media %}
        {{ form.media }}
        {{ formset.media }}
    {% endblock form_media %}

</head>

<body>
    {% block body %}
        {% block pre_navbar %}
            <div class="container med-center-detail">
                <div class="row">
                    <div class="col-sm-3">
                        {% block pre_navbar_logo %}
                        {% endblock %}
                    </div>
                    {% block pre_navbar_user %}
                        <div class="col-sm-9 text-right">
                            {% if user.is_authenticated %}
                                <div class="dropdown dropdown-user">
                                    <a class="dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user"></i> {{ user.core.get_fio|default:user.username }}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                        {% if user.is_staff %}
                                            <a class="dropdown-item" href="/admin/">
                                                <i class="fa fa-cogs"></i> Панель администратора
                                            </a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{% url 'password_change' %}">
                                            <i class="fa fa-edit"></i> Сменить пароль
                                        </a>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            <i class="fa fa-sign-out"></i> Выход
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block navbar %}
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/">Личный кабинет</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav navbar-center">
{#                            {% if user.is_authenticated and request.path != '/' %}#}
                                {% if perms.core.view_workers_done_report %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'core:workers_done_report' %}">Отчет по прошедшим</a>
                                    </li>
                                {% endif %}
                                {% if perms.core.view_direction %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'core:direction_list' %}">Направления</a>
                                    </li>
                                {% endif %}
                                {% if perms.auth.view_user %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'core:user' %}">Пользователи</a>
                                    </li>
                                {% endif %}
                                {% if user_background_tasks.count or user.is_superuser%}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'background_tasks:task_search' %}">
                                            Фоновые задачи
                                        </a>
                                    </li>
                                {% endif %}
{#                            {% endif %}#}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block page_content %}
            <!-- Page Content -->
            <div class="container page-content">
                {# django-messages (используются, например, при сообщении о сохранении, ошибках формы и т.п.) #}
                {% block messages %}
                    {% if messages %}
                        <ul class="list-group">
                            {% for message in messages %}
                                <li class="list-group-item alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                                    {% if message.tags == 'warning' %}<i class="fa fa-warning"></i>{% endif %}
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock %}

                {% block container %}{% endblock %}
            </div>
        {% endblock %}

        {% block footer %}
            <footer class="text-center">
                <a href='https://github.com/Egorka96/med-org-portal' target='_blank'>&copy; Egor Razzhivkin 2020</a>
            </footer>
        {% endblock %}

        {% block loader %}
            <div id="loading" style="display: none; position: fixed; top:0; min-width: 100%; background-color: rgba(255, 255, 255, 0.76);
        min-height: 100%; z-index: 1000;">
                <img src="{% static "core/img/load.gif" %}"
                     style="box-shadow: white 0 0 300px 200px; position: fixed; top: 39%; left: 46%">
            </div>
        {% endblock %}

        {% block js %}
            <script>
                $(function() {
                    $('.date').datepicker({dateFormat: 'dd.mm.yy'});
                    $('.hasDatepicker').mask('99.99.9999');
                    $('input[type=text]:not(.allow-autocomplete)').prop('autocomplete', 'off');     // отключаю браузреный автокомплит форм
                    $.fn.select2.defaults.set("theme", "bootstrap");
                    $('.need-select2').select2({
                        width: '100%',
                        language: "ru",
                        theme: "bootstrap"
                    });

                    $('[data-toggle="tooltip"]').tooltip();
                    $('[data-toggle="popover"]').popover();

                    // вешаем на сабмит лоадер
                    $('form').submit(function(e) {
                        {#console.log(e);#}

                        // пропустим формы, для которых лоадер не нужен
                        if ($(this).hasClass('no-submit-loader'))
                            return;

                        $('#loading').show()
                    });

                    $('#clearForm').click(function () {
                        $(':input', 'form')
                            .not(':button, :submit, :reset, :hidden')
                            .removeAttr('checked')
                            .removeAttr('selected')
                            .not(':radio, .no-clean')
                            .val('').trigger('change');
                    });

                    let current = location.pathname;
                    $('.navbar-nav li a').each(function(){
                        let $this = $(this);
                        // if the current path is like this link, make it active
                        if (current.indexOf($this.attr('href')) !== -1){
                            $this.addClass('nav-link-active');
                        }
                    })
                })
            </script>
        {% endblock %}
    {% endblock %}
</body>
</html>