{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block container %}
    <form method="post">
        {% csrf_token %}
        {{ form.media }}

        {% block fields %}
            {% bootstrap_form form layout='horizontal' %}
        {% endblock %}

        {% block buttons %}
            <div class="row">
                <div class="col-6">
                    {% if object.id %}
                        <a href="./delete/" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Удалить
                        </a>
                    {% endif %}
                </div>

                <div class="col-6 text-right">
                    <button class="btn btn-success">
                        <i class="fa fa-save"></i> Сохранить
                    </button>
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}