{% extends BASE_TEMPLATE %}
{% load bootstrap4 %}

{% block container %}
    <form method="post">
        {% csrf_token %}
        {{ form.media }}

        {% bootstrap_form_errors form %}

        {% block fields %}
            {% bootstrap_form form layout='horizontal' %}
        {% endblock %}

        {% block buttons %}
            <div class="row">
                <div class="col-6">
                    {% if object.id %}
                        <a href="./delete/" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Удалить
                        </a>
                    {% endif %}
                </div>

                <div class="col-6 text-right">
                    <button class="btn btn-success">
                        <i class="fa fa-save"></i> Сохранить
                    </button>
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        {% if can_edit is not None %}
            let canEdit = {{ can_edit|yesno:"true,false" }};
            if (!canEdit) {
                $('input, textarea, button, select, form').not('.no-block').prop('disabled', true);
                {# если по каким-то причинам нужно, чтобы кнопка-ссылка не блокировалась, то элемент должен принадлежать классу no-block #}
                $('.btn:not(.no-block)').removeAttr('href').removeAttr('onclick').attr('disabled', true);
            }
        {% endif %}
    </script>
{% endblock %}