{% extends BASE_TEMPLATE %}

{% block container %}
    <div class="index-content">
        <div class="row">
            <div class="col-sm-12 text-center">
                {% if perms.core.view_workers_done_report %}
                    <a class="btn btn-index-primary index-btn" href="{% url 'core:workers_done_report' %}"
                        data-toggle="tooltip" data-placement="bottom" title="Отчет по прошедшим">
                         <p><i class="fa fa-list"></i></p>
                            Прошедшие
                            <p class="index-btn-small-text">отчет по прошедшим</p>
                    </a>
                {% endif %}

                {% if perms.core.view_direction %}
                     <a class="btn btn-index-info index-btn" href="{% url 'core:direction_list' %}"
                        data-toggle="tooltip" data-placement="bottom" title="Направления сотрудников на ПРОФ осмотр">
                         <p><i class="fa fa-address-card"></i></p>
                         Направления
                         <p class="index-btn-small-text">сотрудников на осмотр</p>
                    </a>
                {% endif %}

                 {% if perms.auth.view_user %}
                     <a class="btn btn-index-primary index-btn" href="{% url 'core:user' %}">
                         <p><i class="fa fa-user"></i></p>
                         Пользователи
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}