{% extends 'core/base.html' %}

{% block container %}
    <div class="row">
        {% if perms.core.view_workers_done_report %}
            <div class="col-sm-2">
                 <a class="btn btn-primary btn-block index-btn" href="{% url 'core:workers_done_report' %}"
                    data-toggle="tooltip" data-placement="bottom" title="Отчет по прошедшим">
                     <p><i class="fa fa-list"></i></p>
                     Прошедшие
                </a>
             </div>
        {% endif %}

        {% if perms.core.view_direction %}
            <div class="col-sm-2">
                 <a class="btn btn-primary btn-block index-btn" href="{% url 'core:direction_list' %}"
                    data-toggle="tooltip" data-placement="bottom" title="Направления сотрудников на ПРОФ осмотр">
                     <p><i class="fa fa-address-card"></i></p>
                     Направления
                </a>
             </div>
        {% endif %}

         {% if perms.auth.view_user %}
             <div class="col-sm-2">
                 <a class="btn btn-secondary btn-block index-btn" href="{% url 'core:user' %}">
                     <p><i class="fa fa-user"></i></p>
                     Пользователи
                </a>
             </div>
        {% endif %}
    </div>
{% endblock %}