{% extends BASE_TEMPLATE %}
{% load bootstrap4 %}

{% block container %}
    <br>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary btn-block btn-login">Войти</button>
                {% if can_send_email_user_credentials %}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="{% url 'core:password_forgot' %}">Забыли пароль?</a>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock container %}
