{% extends BASE_TEMPLATE %}
{% load bootstrap4 %}

{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block next %}{% endblock next %}

{% block container %}
    <form action="" method="POST" style="margin-top: 5%">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        {% csrf_token %}
                        {% bootstrap_field form.old_password %}
                        {% bootstrap_field form.new_password1 show_help=False %}
                        {% bootstrap_field form.new_password2 %}

                    </div>
                    <div class="col-md-5" style="margin-top: 20px">
                        <span class="help-block">
                            <ul>
                                <li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
                                <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                                <li>Ваш пароль не может быть одним из широко распространённых паролей.</li>
                                <li>Ваш пароль не может состоять только из цифр.</li>
                            </ul>
                        </span>
                        <button type="submit" class="btn btn-success btn-block">Сменить</button>
                    </div>
                </div>

            </div>

        </div>
    </form>
{% endblock container %}

{% block footer %}
{% endblock footer %}