{% if DEBUG is defined %}
DEBUG = {{ DEBUG }}
{% else %}
DEBUG = True
{% endif %}


{% if SECRET_KEY is defined  %}
SECRET_KEY = '{{ SECRET_KEY }}'
{% else %}
SECRET_KEY = 'fixme'
{% endif %}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': "{{ service_name }}",
        'USER': "{{ service_name }}",
        'PASSWORD': '{{ PASSWORD }}',
        'HOST': 'db',
        'PORT': '5432',
    }
}

ALLOWED_HOSTS = ['{{ web_server_name }}', '*']
LANGUAGE_CODE = 'ru-RU'
TIME_ZONE = 'Europe/Moscow'

{#DATABASES = {#}
{#    'default': {#}
{#        'ENGINE': 'django.db.backends.sqlite3',#}
{#        'NAME': '/data/db.sqlite3',#}
{#    }#}
{#}#}

{% if MIS_URL is defined %}
MIS_URL = "{{ MIS_URL }}"
{% endif %}

{% if MIS_TOKEN is defined %}
MIS_TOKEN = "{{ MIS_TOKEN }}"
{% endif %}

import os

from project.settings import TEMPLATES, BASE_DIR, TEMPLATES_DICT

{% if custom_apps is defined %}

TEMPLATES[0]['DIRS'] = [os.path.join(BASE_DIR, f'{app}/templates') for app in {{ custom_apps }}]
STATICFILES_DIRS = [
    os.path.join(BASE_DIR, f"{app}/static") for app in {{ custom_apps }}
]

{% endif %}

{% if base_template is defined %}
TEMPLATES_DICT["base"] = '{{ base_template }}'
{% endif %}

{% if index_template is defined %}
TEMPLATES_DICT["index"] = '{{ index_template }}'
{% endif %}

{% if workers_done_report_template is defined %}
TEMPLATES_DICT["workers_done_report"] = '{{ workers_done_report_template }}'
{% endif %}

{% if direction_list_template is defined %}
TEMPLATES_DICT["direction_list"] = '{{ direction_list_template }}'
{% endif %}

{% if senty_url is defined %}
import sentry_sdk
from sentry_sdk.integrations.django import DjangoIntegration

sentry_sdk.init(
    dsn="{{ sentry_url }}",
    integrations=[DjangoIntegration()],
    send_default_pii=True,
    request_bodies='medium',
)
{% endif %}