server {
    server_name {{ ALLOWED_HOSTS }};
    {% if not without_ssl is defined %}listen {{ ALLOWED_HOSTS }}:443 ssl;{% endif %}

    access_log  /var/log/www/{{ ALLOWED_HOSTS }}/access.log;
    error_log   /var/log/www/{{ ALLOWED_HOSTS }}/error.log;

    client_header_buffer_size 64k;
    large_client_header_buffers 4 64k;

    location /node_modules {
        alias {{ static_path }}/node_modules;
    }

    location /static {
        alias {{ static_path }};
    }

    location /media {
        alias {{ media_path }};
    }

    location / {
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:{{ portal_port }}/;
        proxy_connect_timeout 600s;
        proxy_read_timeout 600s;
        client_max_body_size  10m;
    }

    {% if not without_ssl is defined %}
    ssl_certificate /etc/letsencrypt/live/{{ ALLOWED_HOSTS }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ ALLOWED_HOSTS }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
    {% endif %}
}

{% if not without_ssl is defined %}
server {
    if ($host = {{ ALLOWED_HOSTS }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen      {{ ALLOWED_HOSTS }}:80;
    server_name {{ ALLOWED_HOSTS }};
    return 404; # managed by Certbot
}
{% endif %}