{% extends 'core/base_edit.html' %}
{% load bootstrap4 %}

{% block css %}
    {{ block.super }}
    <style>
        .form-check {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block buttons %}
            <div class="row">
                <div class="col-6">
                    {% if object.id %}
                        <a href="./delete/" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Удалить
                        </a>
                    {% endif %}
                </div>

                <div class="col-6 text-right">
                    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" type="button">
                        <i class="fa fa-save"></i> Сохранить
                    </button>
                </div>
            </div>

{% endblock %}

{% block fields %}
    <legend>{% if object.id %}Редактирование пользователя "{{ object }}"{% else %}Создание нового пользователя{% endif %}</legend>
    <div class="row">
        <div class="col-sm-6 border-right">
            {% bootstrap_field form.username layout='horizontal' %}
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="id_username">Пароль</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type='text' name="new_password" id="id_new_password" class="form-control" autocomplete="off"
                               value="" placeholder="Новый пароль">
                        <span class="input-group-append">
                            <button type="button" class="input-group-text btn btn-outline-secondary generate-password" data-toggle="tooltip" title="Сгенерировать пароль">
                                <i class="fa fa-key"></i>
                            </button>
                        </span>
                    </div>
                    <small class="form-text text-muted" style="list-style: none">{{ form.new_password.help_text|safe }}</small>
                </div>
            </div>
            {% bootstrap_field form.groups layout='horizontal' %}
            {% bootstrap_field form.is_active layout='horizontal' %}
            {% bootstrap_field form.is_superuser layout='horizontal' %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.last_name layout='horizontal' %}
            {% bootstrap_field form.first_name layout='horizontal' %}
            {% bootstrap_field form.email layout='horizontal' %}
            {% bootstrap_field form.orgs layout='horizontal' %}
            {% bootstrap_field form.post layout='horizontal' %}
            {% bootstrap_field form.document_types layout='horizontal' %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Отправить письмо с учетными данными на электронную почту?</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-footer">
             <button type="submit" class="btn btn-secondary" name="not_to_send">Не отправитять</button>
             <button type="submit" class="btn btn-primary" name="to_send" value="1">Отправлять</button>
           </div>
         </div>
       </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('.generate-password').click(function() {
            return $.get({
                url: "/rest/generate_password/",
                success: function(data) {
                    return $('#id_new_password').val(data.password);
                }
            });
        });
    </script>
{% endblock %}