{% extends 'core/base_edit.html' %}
{% load bootstrap4 %}

{% block css %}
    {{ block.super }}
    <style>
        .form-check {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block fields %}
    <div class="col-sm-4">{% bootstrap_field form.username %}</div>
    <div class="col-sm-4">{% bootstrap_field form.new_password %}</div>
    <div class="col-sm-4">{% bootstrap_field form.is_active %}</div>
    <div class="col-sm-4">{% bootstrap_field form.last_name %}</div>
    <div class="col-sm-4">{% bootstrap_field form.first_name %}</div>
    <div class="col-sm-4">{% bootstrap_field form.email %}</div>
    <div class="col-sm-4">{% bootstrap_field form.orgs %}</div>
    <div class="col-sm-4">{% bootstrap_field form.groups %}</div>
    <div class="col-sm-4">{% bootstrap_field form.is_superuser %}</div>
{% endblock %}